.showtext{
  text-align: center;
}

.yesbutton {
  cursor: pointer;
  width: 30%;
  height: 50px;
  background-color: beige;
  border: 1px solid green;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.yesbutton:hover {
  background-color: rgb(222, 222, 169);
}

.info p {
  margin-bottom: 5px;
}